@import "../../variables.module";

.li {
  text-decoration: none;
  list-style: none;
  padding-inline: 1rem;
  text-align: center;
}

.btnCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  font-family: "Comfortaa";
  font-weight: 700;
  color: $text-color;
  border-radius: 8px;
  outline: 0;
  border: 0;
  width: 20%;
  height: 2rem;
  border: 1px solid black;
}

button:hover {
  background-color: #f4dfd0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
